@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 25, 29, 46;
  --font-color-rgb: 227, 231, 239;
}

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--font-color-rgb));
}

.active {
  font-size: 1.3em;
  font-weight: bold;
  position: relative;
}

.active::after {
  background-color: #1de49f;
  bottom: -2px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transition: width 0.5s ease;
  width: 100%;
}

.scrollable-column {
  height: 100vh;
}
