@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 25, 29, 46;
  --font-color-rgb: 227, 231, 239;
}

body {
  color: rgb(var(--font-color-rgb));
  background: rgb(var(--background-rgb));
}

.scrollable-column {
  height: 100vh; /* O la altura deseada */
}
