@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 30, 30, 30;
  --font-color-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--font-color-rgb));
  background: rgb(var(--background-rgb));
}
