@keyframes spectacularAnimation {
  0%,
  100% {
    color: red;
    transform: scale(1) rotate(0deg);
  }
  25% {
    color: orange;
    transform: scale(1.2) rotate(10deg);
  }
  50% {
    color: yellow;
    transform: scale(1.4) rotate(-10deg);
  }
  75% {
    color: green;
    transform: scale(1.2) rotate(10deg);
  }
}

.animate-spectacular {
  animation: spectacularAnimation 5s infinite;
  font-weight: bold;
}
